<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ collection.name }}</title>
    <link rel="stylesheet" href="../static/css/collection_detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- endinject -->
    <script src="../static/js/vendor.js"></script>
    <!-- inject:js -->
    <script src="../static/js/main.js"></script>
    <!-- endinject -->
</head>

<body>
    <div class="x-header2">
        <div class="menu-mod">
            <div class="logo"><a href="/"><img src="/Uploads/Picture/2021/11/05/s6185032db4faf.png" alt="" title=""
                        class="i"></a></div>
        </div>
        <div class="tools-mod">
            <div class="tools-item lang select-mod">
                <div class="select-bar bttn">
                    <div class="select-btn xicon icon-down"></div>
                    <div class="select-txt">
                        <div class="select-val">中文版</div>
                    </div>
                </div>
                <div class="select-cont">
                    <div class="select-opts">
                        <div class="select-item"><a href="/">中文版</a></div>
                        <div class="select-item"><a href="/en/index.html">EN</a></div>
                    </div>
                </div>
            </div>
            <div class="tools-item share-box"><a class="share-item suds-mod bttn xicon icon-wx" href="javascript:;">
                    <div class="suds-pop at-b">
                        <div class="code"><img src="/Uploads/Picture/2023/02/14/s63eae4ff6f316.png" title="" alt="">
                        </div>
                    </div>
                </a>
                <a class="share-item suds-mod bttn xicon icon-wb" href="javascript:;">
                    <div class="suds-pop at-b">
                        <div class="code"><img src="/Uploads/Picture/2023/02/15/s63ec8c8fc4e56.png" title="" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="tools-item search-mod">
                <div class="search-tap xicon icon-search bttn"></div>
                <div class="search-box">
                    <div class="search-txt"><input type="text" class="search-input" placeholder="search..."
                            id="txt_Search" onkeypress="keydown(event, '#btn_Search')"></div>
                    <div class="search-btn"><button class="search-submit xicon icon-search" type="submit"
                            id="btn_Search"></button></div>
                </div>
            </div>
            <div class="menu-btn"><span class="line"></span></div>
        </div>
        <div class="nav-mod">
            <div class="nav_child"
                style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/">首页</a>
                    </div>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="index.html">首页</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="exhibition.html">玉-展览</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="exhibition.html">国内展览</a></li>
                        <li><a href="exhibition.html">学生策展</a></li>
                    </ul>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="collection.html">玉-美学</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="collection.html">玉词百科</a></li>
                        <li><a href="collection.html">美玉宝库</a></li>
                        <li><a href="collection.html">诗说美玉</a></li>
                        <li><a href="collection.html">玉蕴哲思</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="h">
                        <a class="" href="Subject.html">玉-学术</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="Subject.html">学术刊物</a></li>
                        <li><a href="Subject-essay.html">学术论文</a></li>
                        <li><a href="Subject-lectures.html">学术讲座</a></li>
                        <li><a href="Subject-resources.html">学习资料</a></li>
                    </ul>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/product.html">玉-交流</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="../jade_poems.html">师生论玉</a></li>
                        <li><a href="/product/tgirl.html">文学创作</a></li>
                        <li><a href="/product/tang.html">精美视频</a></li>
                        <li><a href="/product/treasure.html">首饰制作</a></li>
                        <li><a href="/product/calendar.html">对外合作</a></li>
                        <li><a href="/product/stamp.html">考察指南</a></li>
                    </ul>
                </div>
                <script>
                    //首页高亮
                    var indexs = "";
                    if (indexs) {
                        $(".nav_child .item:first .h a").addClass("cur");
                    }
                    //一级高亮
                    var nowurl = ("/collection.html" != 'javascript:void(0);') ? "/collection.html" : window.location.pathname;
                    $(' .nav_child .item .h a').each(function () {
                        var listurl = $(this).attr('href');
                        if (nowurl == listurl || listurl == '') {
                            $(this).parents('.nav_child .h').addClass('cur').siblings().removeClass('cur');
                        }
                    });
                    var pas_id = "";
                    var pa_id = "1";
                    if (pa_id == 11) {
                        $('.nav-lv1-item').eq(1).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pa_id == 3) {
                        $('.nav-lv1-item').eq(9).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pas_id == 9) {
                        $('.nav-lv1-item').eq(3).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pas_id == 10) {
                        $('.nav-lv1-item').eq(2).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pa_id == 7) {
                        $('.nav-lv1-item').eq(5).addClass('cur').siblings().removeClass('cur')
                    }
                    //锚点点击高亮
                    $(document).on('click', 'li', function () {
                        $(this).addClass('cur').siblings().removeClass('cur');
                    })
                    //二级导航
                    var _nowurl = window.location.href;
                    var cat_url = '/collection.html';
                    var arr = _nowurl.split('#')[1];
                    $('.nav_child .item ul li').find('a').each(function (i, k) {
                        var towurl = $(k).attr('href');
                        if (towurl.indexOf(arr) > -1 || towurl == window.location.pathname || towurl == cat_url || towurl == '') {
                            $(this).parents('.item').find('.h').addClass('cur').siblings().removeClass('cur');
                        }
                    });
                </script>
            </div>
            <div class="bg"></div>
            <div class="search-box m-show">
                <div class="search-txt"><input type="text" class="search-input" placeholder="search..."
                        id="txt_Search2" onkeypress="keydown(event, '#btn_Search2');"></div>
                <button class="search-submit xicon icon-search" type="submit" id="btn_Search2"></button>
            </div>
            <div class="bb">
                <div class="lang">
                    <a class="now" href="/">中</a><a href="/en/index.html">EN</a>
                </div>
                <div class="share-box m-show">
                    <a class="share-item suds-mod xicon icon-wx" href="javascript:;">
                        <div class="suds-pop at-t">
                            <div class="code"><img src="/Uploads/Picture/2023/02/14/s63eae4ff6f316.png" alt=""
                                    title=""></div>
                        </div>
                    </a>
                    <a href="#" class="share-item xicon icon-wb" title="分享到新浪微博"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="page-bg">
        <div class="gauss"></div> <!-- 独立的背景层用于应用模糊效果 -->
        <div class="page-context glass">
            <h1 class="title">{{ collection.name }}</h1>
            <img class="collection-image" src="{{ url_for('static', filename=collection.image_path) }}" alt="{{ collection.name }}">
            <p class="description">{{ collection.description }}</p>
        </div>
    </div>
</body>

</html>