<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ collection.name }}</title>
    <link rel="stylesheet" href="../static/css/collection_detail.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/vendor.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- endinject -->
    <script src="../static/js/vendor.js"></script>
    <!-- inject:js -->
    <script src="../static/js/main.js"></script>
    <!-- endinject -->
</head>

<body>
    <div class="x-header2">
        <div class="menu-mod">
            <div class="logo">
                <a href="/">
                    <img src="../static/img/babatuosi.jpg" alt="" title="" class="i" style="border-radius: 50%;">
                </a>
            </div>
        </div>
        <div class="tools-mod">
            <div class="tools-item lang select-mod">
                <div class="select-bar bttn">
                    {% if user %}
                    欢迎用户{{user.username}}
                    {% else %}
                    欢迎来到玉石天地，请注册
                    {% endif %}
                </div>
            </div>
            <div class="tools-item share-box">
                {% if not user %}
                <a class="share-item suds-mod bttn xicon" style="background-image: url('{{ avatar_url }}');"
                    href="/login">
                </a>
                {% else %}
                <a class="share-item suds-mod bttn xicon" style="background-image: url('{{ avatar_url }}');"
                    href="{{url_for('profile', username=session['username'])}}">
                </a>
                {% endif %}
                <p style="font-size: 16px; color: #007BFF; font-weight: bold; text-align: center; margin-top: 10px;">
                    点击左侧头像进入个人主页
                </p>
            </div>
            <div class="menu-btn"><span class="line"></span></div>
        </div>
        <div class="nav-mod">
            <div class="nav_child"
                style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/">首页</a>
                    </div>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/index">首页</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/exhibition">玉·展览</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="/exhibition">国内展览</a></li>
                        <li><a href="/student">学生策展</a></li>
                    </ul>
                </div>
                <div class="item" style="text-align: center;">
                    <div class="h">
                        <a class="" href="/collection">玉·美学</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="/collection">精品宝玉</a></li>
                        <li><a href="/collection">宝玉藏品</a></li>
                        <li><a href="/collection">玉石百科</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="h">
                        <a class="" href="/Subject">玉·学术</a>
                        <span class="arr xicon icon-down"></span>
                    </div>
                    <ul>
                        <li><a href="/Subject">学术刊物</a></li>
                        <li><a href="/Subject-essay">学术论文</a></li>
                        <li><a href="/Subject-resources">学习资料</a></li>
                    </ul>
                </div>
                <div class="item">
                    <div class="h">
                        {% if 'username' in session %}
                        <a class="" href="/jade_class">玉·学问</a>
                        {% else %}
                        <a class="" href="/login">登陆解锁课程资源</a>
                        {% endif %}
                        <span class="arr xicon icon-down"></span>
                    </div>
                    {% if 'username' in session %}
                    <ul>
                        <li><a href="/jade_class">智慧树视频</a></li>
                        <li><a href="/jade_class">课程回放</a></li>
                        <li><a href="/jade_class">优质讲座</a></li>
                        <li><a href="/jade_class">课程资料</a></li>
                    </ul>
                    {% endif %}
                </div>
                <div class="item">
                    <div class="h">
                        {% if 'username' in session %}
                        <a class="" href="/forum">玉·交流</a>
                        {% else %}
                        <a class="" href="/login">登陆解锁论坛功能</a>
                        {% endif %}
                        <span class="arr xicon icon-down"></span>
                    </div>
                    {% if 'username' in session %}
                    <ul>
                        <li><a href="">师生交流</a></li>
                        <li><a href="">鉴别玉石</a></li>
                        <li><a href="">文学创作</a></li>
                    </ul>
                    {% endif %}
                </div>
                <script>
                    //首页高亮
                    var indexs = "";
                    if (indexs) {
                        $(".nav_child .item:first .h a").addClass("cur");
                    }
                    //一级高亮
                    var nowurl = ("/collection.html" != 'javascript:void(0);') ? "/collection.html" : window.location.pathname;
                    $(' .nav_child .item .h a').each(function () {
                        var listurl = $(this).attr('href');
                        if (nowurl == listurl || listurl == '') {
                            $(this).parents('.nav_child .h').addClass('cur').siblings().removeClass('cur');
                        }
                    });
                    var pas_id = "";
                    var pa_id = "1";
                    if (pa_id == 11) {
                        $('.nav-lv1-item').eq(1).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pa_id == 3) {
                        $('.nav-lv1-item').eq(9).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pas_id == 9) {
                        $('.nav-lv1-item').eq(3).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pas_id == 10) {
                        $('.nav-lv1-item').eq(2).addClass('cur').siblings().removeClass('cur')
                    }
                    if (pa_id == 7) {
                        $('.nav-lv1-item').eq(5).addClass('cur').siblings().removeClass('cur')
                    }
                    //锚点点击高亮
                    $(document).on('click', 'li', function () {
                        $(this).addClass('cur').siblings().removeClass('cur');
                    })
                    //二级导航
                    var _nowurl = window.location.href;
                    var cat_url = '/collection.html';
                    var arr = _nowurl.split('#')[1];
                    $('.nav_child .item ul li').find('a').each(function (i, k) {
                        var towurl = $(k).attr('href');
                        if (towurl.indexOf(arr) > -1 || towurl == window.location.pathname || towurl == cat_url || towurl == '') {
                            $(this).parents('.item').find('.h').addClass('cur').siblings().removeClass('cur');
                        }
                    });
                </script>
            </div>
            <div class="bg"></div>
            <div class="search-box m-show">
                <div class="search-txt"><input type="text" class="search-input" placeholder="search..." id="txt_Search2"
                        onkeypress="keydown(event, '#btn_Search2');"></div>
                <button class="search-submit xicon icon-search" type="submit" id="btn_Search2"></button>
            </div>
            <div class="bb">
                <div class="lang">
                    <a class="now" href="/">中</a><a href="/en/index.html">EN</a>
                </div>
                <div class="share-box m-show">
                    <a class="share-item suds-mod xicon icon-wx" href="javascript:;">
                        <div class="suds-pop at-t">
                            <div class="code"><img src="/Uploads/Picture/2023/02/14/s63eae4ff6f316.png" alt="" title="">
                            </div>
                        </div>
                    </a>
                    <a href="#" class="share-item xicon icon-wb" title="分享到新浪微博"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="page-bg">
        <div class="gauss"></div> <!-- 独立的背景层用于应用模糊效果 -->
        <div class="page-context glass">
            <h1 class="title">{{ collection.name }}</h1>
            <img class="collection-image" src="{{ url_for('static', filename=collection.image_path) }}"
                alt="{{ collection.name }}">
            <p class="description">{{ collection.description }}</p>
        </div>
    </div>
</body>

</html>