<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/forum_post.css">
    <title>帖子发布页</title>
</head>
<body id="WholePage">
    <!-- 上方浮页 -->
    <div class="Head" id="head">
        <div>
            <img class="Logo" src="../static/img/Logo.png" alt="Logo">
        </div>
        <div class="Head-Jump">
            <a href="/index">首页</a>
            <a href="/Subject">玉●学术</a>
            <a href="/exhibition/exhibition">玉●展览</a>
            <a href="/collection">玉●美学</a>
            <a href="/forum">玉●交流</a>
        </div>
        <div>
            <img class="User-Head" src="../static/img/profile.jpg" alt="User Profile">
        </div>
    </div>
    
    <!-- 发布帖子区域 -->
    <div class="Post-Container">
        <h1>在这里发布你的帖子</h1>
        <form method="post" action="{{ url_for('forum_post') }}" enctype="multipart/form-data">
            <label for="title">标题</label>
            <input type="text" id="title" name="title" required><br>
            <label for="content">正文</label>
            <textarea id="content" name="content" required></textarea><br>
            <label for="images" class="custom-file-upload">
                <input type="file" id="images" name="images" multiple>
                选择文件
            </label>
            <small>最多选择九张照片</small><br>
            <button type="submit">发布</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const head = document.getElementById('head');

            head.style.top = '-100px';

            document.addEventListener('mousemove', function(event) {
                if (event.clientY < 50) {
                    head.style.top = '0';
                } else {
                    head.style.top = '-100px';
                }
            });
        });
    </script>
</body>
</html>
