<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>玉·交流</title>
      <link href="../static/css/forum.css" rel="stylesheet" />
</head>
<body>
        <div class="slidershow">
    <div class="slidershow--image" style="background-image: url(../static/img/login/1.png)"></div>
    <div class="slidershow--image" style="background-image: url(../static/img/login/2.png)"></div>
    <div class="slidershow--image" style="background-image: url(../static/img/login/3.png)"></div>
    <div class="slidershow--image" style="background-image: url(../static/img/login/4.png)"></div>
</div>

        <div class="slidershow2">
    <div class="slidershow2--image" style="background-image: url(../static/img/login/1.png)"></div>
    <div class="slidershow2--image" style="background-image: url(../static/img/login/2.png)"></div>
    <div class="slidershow2--image" style="background-image: url(../static/img/login/3.png)"></div>
    <div class="slidershow2--image" style="background-image: url(../static/img/login/4.png)"></div>
</div>
           <div class="slidershow3">
    <div class="slidershow3--image" style="background-image: url(../static/img/login/1.png)"></div>
    <div class="slidershow3--image" style="background-image: url(../static/img/login/2.png)"></div>
    <div class="slidershow3--image" style="background-image: url(../static/img/login/3.png)"></div>
    <div class="slidershow3--image" style="background-image: url(../static/img/login/4.png)"></div>
</div>
<div class="navbar">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <ul>
        <li><a href="/index">首页</a></li>
        <li><a href="/Subject">学术</a></li>
        <li><a href="/exhibition">展览</a></li>
        <li><a href="/collection">美学</a></li>
        <li><a href="/forum">交流</a></li>
    </ul>
</div>

    {% if 'username' in session %}
        <p><a href="{{ url_for('forum_post') }}" class="post_button">+</a></p>
       <p><a href="{{ url_for('logout') }}" class="logout"><img src="../static/img/forum/logout.png" alt="Logout"></a></p>
    {% else %}
        <p><a href="{{ url_for('login') }}">登录</a> | <a href="{{ url_for('register') }}">注册</a></p>
    {% endif %}

    <div class="posts">
        {% for post in posts %}
            <div class="post">
                <div class="content">
                    <div class="post-info">
  <div class="avatar">
    {% if post.author.avatar %}
      <img src="{{ url_for('static', filename=post.author.avatar) }}" alt="Avatar" class="avatar">
    {% endif %}
  </div>
  <div class="username-date">
    <p>
      <a href="{{ url_for('profile', username=post.author.username) }}" class="username">{{ post.author.username }}</a>
    </p>
    <p class="timestamp">{{ post.timestamp|date }}</p>
  </div>
</div>
                    {#<h2>{{ post.title }}</h2>#}
                   <h2><a href="{{ url_for('read_post', post_id=post.id) }}" class="title">{{ post.title }}</a></h2>
                    {% if session.get('role') == 'admin' %}
                        <form method="post" action="{{ url_for('delete_post', post_id=post.id) }}" style="display:inline;">
                            <button type="submit">删除</button>
                        </form>
                    {% endif %}
                {% if post.images %}
                    <img src="{{ url_for('static', filename=post.images[0].file_path) }}" alt="Post Image">
                {% endif %}
                   {% if post.id in liked_post_ids %}
                         <form method="post" action="{{ url_for('unlike_post', post_id=post.id) }}" style="display:inline;">
                             <button class="like-button" type="submit">
                             <img src="../static/img/forum/like_after.png" alt="Like After"> <!-- 替换为点赞后的图片路径 -->
                             </button>
                          </form>
                   {% else %}
                        <form method="post" action="{{ url_for('like_post', post_id=post.id) }}" style="display:inline;">
                        <button class="like-button" type="submit">
                        <img src="../static/img/forum/like_before.png" alt="Like Before"> <!-- 替换为点赞前的图片路径 -->
                        </button>
                        </form>
                   {% endif %}
                   <span class="like-count">（{{ post.likes|length }}）</span>
                </div>

            </div>
        {% endfor %}
    </div>

    <script src="../static/js/forum.js"></script>
    <div class="pagination">
        {% if prev_url %}
            <a href="{{ prev_url }}">上一页</a>
        {% endif %}
        {% if next_url %}
            <a href="{{ next_url }}">下一页</a>
        {% endif %}
    </div>
</body>
</html>
