<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="author" content="http://www.fractal-technology.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="陕西历史博物馆" />
    <meta name="description" content="陕西历史博物馆" />
    <title>大汉雄风_陕西历史博物馆_陕西历史博物馆</title>
    <script type="text/javascript">
        if (!window.matchMedia) {
            var el = document.createElement('div');
            el.style.cssText = "position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #575757; z-index: 999999;";
            el.innerHTML = '<div style="position: absolute; top: 40%; left: 0; right: 0; margin: auto; width: 80%; font-family: Microsoft YaHei; font-size: 2em; font-weight: bold; text-align: center; color: #fff;">您当前使用的浏览器版本过低，<br>建议尽快升级您的浏览器，以获得更好的浏览体验！</div>';
            document.documentElement.appendChild(el);
        }
    </script>
    <link rel="stylesheet" href="../static/css/vendor.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- endinject -->
    <script src="../static/js/vendor.js"></script>
    <!-- inject:js -->
    <script src="../static/js/main.js"></script>
    <!-- endinject -->
</head>
<style type="text/css">
    .logo .widget-area-edit {
        top: 0px
    }
</style>

<body>
    <div class="topping-mod xfont icon-up">
        <div class="s"></div>
    </div>
    <div class="x-layout dhxf">
        <div class="x-header2">
            <div class="menu-mod">
                <div class="logo"><a href="/"><img src="/Uploads/Picture/2021/11/05/s6185032db4faf.png" alt="" title=""
                            class="i"></a></div>
            </div>
            <div class="tools-mod">
                <div class="tools-item lang select-mod">
                    <div class="select-bar bttn">
                        点击头像
                        <!-- <div class="select-btn xicon icon-down"></div>
                        <div class="select-txt">
                            <div class="select-val">中文版</div>
                        </div> -->
                    </div>
                    <!-- <div class="select-cont">
                        <div class="select-opts">
                            <div class="select-item"><a href="/">中文版</a></div>
                            <div class="select-item"><a href="/en/index.html">EN</a></div>
                        </div>
                    </div> -->
                </div>
                <div class="tools-item share-box">
                    <a class="share-item suds-mod bttn xicon icon-wx" href="{{url_for('profile', username=session['username'])}}">
                    </a>
                </div>
                <div class="menu-btn"><span class="line"></span></div>
            </div>
            <div class="nav-mod">
                <div class="nav_child">
                    <div class="item">
                        <div class="h"><a class="" href="/">首页</a>
                        </div>
                        <ul>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/guide.html">导览</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/guide.html#guide2">开放时间</a></li>
                            <li><a href="/guide.html#guide3">参观公告</a></li>
                            <li><a href="/guide.html#guide4">交通路线</a></li>
                            <li><a href="/guide.html#guide5">票务信息</a></li>
                            <li><a href="/guide.html#guide6">参观须知</a></li>
                            <li><a href="/guide.html#guide7">馆内服务</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/basic_display.html">展览</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/basic_display.html">常设展览</a></li>
                            <li><a href="/special_exhibtion.html">专题展览</a></li>
                            <li><a href="/Temporary.html">临时展览</a></li>
                            <li><a href="/xiufu.html">修复展示</a></li>
                            <li><a href="/online.html">线上展览</a></li>
                            <li><a href="/temporary_exhibition.html">交流展览</a></li>
                            <li><a href="/online2.html">虚拟布展</a></li>
                            <li><a href="/online1.html">云展览</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/collection.html">藏品</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/collection.html">镇馆之宝</a></li>
                            <li><a href="/collection.html">馆藏精品</a></li>
                            <li><a href="/Collections/ww_data.html">文物数据</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/education.html">教育</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/education.html#education1">活动预告</a></li>
                            <li><a href="/education.html#education2">精彩回顾</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/Publication/Subject.html">学术</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/Publication/Subject.html">学术刊物</a></li>
                            <li><a href="/Academic_achievements/Publication.html">学术成果</a></li>
                            <li><a href="/Project_topic/Domestic.html">学术研讨会</a></li>
                            <li><a href="/Academic_lectures.html">学术讲座</a></li>
                            <li><a href="/Academic_institutions.html">学术机构</a></li>
                            <li><a href="/mural_base/overview.html">馆藏壁画科研基地</a></li>
                            <li><a href="/Academic_youth forums.html">青年学术论坛</a></li>
                            <li><a href="/Academic_achievements/Scientific Academic resources.html">学术资源目录</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/product.html">文创</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/product/tiger.html">虎符送福</a></li>
                            <li><a href="/product/tgirl.html">唐妞</a></li>
                            <li><a href="/product/tang.html">花舞大唐</a></li>
                            <li><a href="/product/treasure.html">国宝系列</a></li>
                            <li><a href="/product/calendar.html">陕博日历</a></li>
                            <li><a href="/product/stamp.html">书籍邮册</a></li>
                            <li><a href="/product/joint.html">联名文创</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/info/Building.html">资讯</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/info/Building.html">党建工作</a></li>
                            <li><a href="/info/news.html">工作动态</a></li>
                            <li><a href="/info/industry.html">行业信息</a></li>
                            <li><a href="/info/announcement.html">最新公告</a></li>
                            <li><a href="/volunteer.html">志愿者</a></li>
                            <li><a href="/info/publicity.html">采购公示</a></li>
                            <li><a href="/info/culturaltour.html">文明旅游</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/articles_association.html">信息公开</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/articles_association.html">博物馆章程</a></li>
                            <li><a href="/Activity_Board.html">运营看板</a></li>
                            <li><a href="/shared_resource.html">公共资源共享服务</a></li>
                            <li><a href="/Social_practice_activities.html">在校学生社会实践活动</a></li>
                            <li><a href="/for_council.html">理事会信息</a></li>
                            <li><a href="/lsjscy.html">理事监事成员</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h"><a class="" href="/about.html">关于</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/about.html#about3">本馆概述</a></li>
                            <li><a href="/about.html">馆长致辞</a></li>
                            <li><a href="/about.html#about4">历史沿革</a></li>
                            <li><a href="/about.html#about5">馆级领导</a></li>
                            <li><a href="/about.html#about6">机构设置</a></li>
                            <li><a href="/about.html#about7">专家介绍</a></li>
                        </ul>
                    </div>
                    <script>
                        //首页高亮
                        var indexs = "";
                        if (indexs) {
                            $(".nav_child .item:first .h a").addClass("cur");
                        }
                        //一级高亮
                        var nowurl = ("/dhxf.html" != 'javascript:void(0);') ? "/dhxf.html" : window.location.pathname;
                        $(' .nav_child .item .h a').each(function () {
                            var listurl = $(this).attr('href');
                            if (nowurl == listurl || listurl == '/basic_display.html') {
                                $(this).parents('.nav_child .h').addClass('cur').siblings().removeClass('cur');
                            }
                        });
                        var pas_id = "10";
                        var pa_id = "49";
                        if (pa_id == 11) {
                            $('.nav-lv1-item').eq(1).addClass('cur').siblings().removeClass('cur')
                        }
                        if (pa_id == 3) {
                            $('.nav-lv1-item').eq(9).addClass('cur').siblings().removeClass('cur')
                        }
                        if (pas_id == 9) {
                            $('.nav-lv1-item').eq(3).addClass('cur').siblings().removeClass('cur')
                        }
                        if (pas_id == 10) {
                            $('.nav-lv1-item').eq(2).addClass('cur').siblings().removeClass('cur')
                        }
                        if (pa_id == 7) {
                            $('.nav-lv1-item').eq(5).addClass('cur').siblings().removeClass('cur')
                        }
                        //锚点点击高亮
                        $(document).on('click', 'li', function () {
                            $(this).addClass('cur').siblings().removeClass('cur');
                        })
                        //二级导航
                        var _nowurl = window.location.href;
                        var cat_url = '/dhxf.html';
                        var arr = _nowurl.split('#')[1];
                        $('.nav_child .item ul li').find('a').each(function (i, k) {
                            var towurl = $(k).attr('href');
                            if (towurl.indexOf(arr) > -1 || towurl == window.location.pathname || towurl == cat_url || towurl == '/basic_display.html') {
                                $(this).parents('.item').find('.h').addClass('cur').siblings().removeClass('cur');
                            }
                        });
                    </script>
                </div>
                <div class="bg"></div>
                <!-- <div class="search-box m-show">
                    <div class="search-txt"><input type="text" class="search-input" placeholder="search..."
                            id="txt_Search2" onkeypress="keydown(event, '#btn_Search2');"></div>
                    <button class="search-submit xicon icon-search" type="submit" id="btn_Search2"></button>
                </div> -->
                <div class="bb">
                    <!-- <div class="lang">
                        <a class="now" href="/">中</a><a href="/en/index.html">EN</a>
                    </div> -->
                    <div class="share-box m-show">
                        <a class="share-item suds-mod xicon icon-wx" href="javascript:;">
                            <!-- <div class="suds-pop at-t">
                                <div class="code"><img src="/Uploads/Picture/2023/02/14/s63eae4ff6f316.png" alt=""
                                        title=""></div>
                            </div> -->
                        </a>
                        <!-- <a href="#" class="share-item xicon icon-wb" title="分享到新浪微博"></a> -->
                    </div>
                </div>

            </div>
        </div>
        <script>
            var p = 1;
            var catrgory_id = "57";
            $(function () {
                $('#btn_Search').click(function () {
                    var keywords = $("#txt_Search").val();
                    if (keywords == '') {
                        my_alert("请输入关键字");
                        return false;
                    }
                    var tit = '大汉雄风';
                    if (tit == "搜索结果") {
                        window.location.href = "/searchs/keywords/" + encodeURI(keywords);
                    } else {
                        window.open("/searchs/keywords/" + encodeURI(keywords));
                    }
                });
                $('#btn_Search2').click(function () {
                    var keywords = $("#txt_Search2").val();
                    if (keywords == '') {
                        my_alert("请输入关键字");
                        return false;
                    }

                    var tit = '大汉雄风';
                    if (tit == "搜索结果") {
                        window.location.href = "/searchs/keywords/" + encodeURI(keywords);
                    } else {
                        window.open("/searchs/keywords/" + encodeURI(keywords));
                    }
                });

            })
            function keydown(e, but) {
                var currKey = 0, e = e || event;
                var _this = $(but);

                if (e.keyCode == 13) {
                    _this.click();
                    return false;
                }
            }



        </script>
        <div class="x-container" data-pt="false">
            <div class="dhxf1">
                <div class="img"><img src="/Public/static/themes_main/image/xf/img18.jpg" alt="" class="i"></div>
                <div class="tit">
                    <div class="ht"><img src="/Public/static/themes_main/image/xf/png59.png" alt="" class="i"></div>
                    <div class="d">公元前<span class="s">202</span>年～公元<span class="s">220</span>年</div>
                    <div class="p">
                        定都长安的西汉王朝开创了中国古代社会的第一个盛世。随着丝绸之路的开通，作为丝路起点的长安城日渐成为东亚文明的中心和著名的国际大都会，中国因此第一次以一个强盛国家的姿态从长安走向世界。汉都长安、汉家陵阙和大量汉代文物，多方面再现了当时发达繁荣的社会经济、丰富多彩的社会生活、雄浑博大的文化艺术以及蓬勃向上的时代精神。
                    </div>
                </div>
            </div>

            <div class="dhxf2">
                <div class="lj"></div>
                <div class="wrap">
                    <div class="tit">汉都长安</div>
                    <div class="tab-mod">
                        <div>
                            <div class="tab-bar">
                                <div class="tab-term">龙墀凤阁</div>
                                <div class="tab-term">离宫别苑 </div>
                                <div class="tab-term">皇家陵阙</div>
                            </div>
                        </div>
                        <div class="tab-cont">
                            <div class="tab-item">
                                <div class="tip">
                                    汉长安城的修建从公元前202年开始，到汉武帝时才完全建成，前后历时近百年。长安城以宫殿为中心，体现帝王崇高地位和为帝王服务的大型宫殿约占全城面积的三分之二以上，主要有长乐宫、未央宫、北宫、桂宫、明光宫、建章宫等。
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="tip">
                                    为了满足帝王的享乐需求，长安城郊外还兴建了众多离宫别苑。其间广布山川林泽，蓄养大量珍禽异兽，栽种各种名花异木。位于长安城南面的上林苑，周回200多公里，不仅是中国最早、最大的自然动植物园，而且是中国古代皇家园囿的最高典范。
                                </div>
                            </div>
                            <div class="tab-item">
                                <div class="tip">
                                    在“事死如事生”的汉代，陵墓作为人死后在另一世界的永久栖宿之处而受到特别重视。西汉皇帝即位之初，即开始营建自己的陵墓。帝陵主要由高大的墓冢及陵庙、城垣、门阙等雄伟壮丽的地面建筑组成，并随葬大量精美的物品，周围大多有数量不等的功臣贵戚的陪葬墓。西汉帝陵共11座，除文帝霸陵和宣帝杜陵位于长安东、南外，其余9座均建在渭河北岸的咸阳原上，东西横亘百余里，气势恢宏，蔚为壮观。
                                </div>
                            </div>
                            <div>
                                <div class="slick-mod">
                                    <div class="slick-item trans-scale"><a href="/collections/detail/466.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a753270bf81.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">皇后之玺</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a href="/collections/detail/428.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a75315944be.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">彩绘雁鱼灯</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a href="/collections/detail/429.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a7530699026.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">“上林”铜鉴</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a>
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a752f615f52.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">铠甲俑</div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dhxf3">
                <div class="wrap">
                    <div class="tab-mod">
                        <div class="tab-box">
                            <div class="lj"></div>
                            <div class="t">经济繁荣</div>
                            <div class="tab-bar">
                                <div class="tab-term">
                                    <div class="tt">农桑牧渔</div>
                                    <div class="tp">
                                        由于普遍使用铁农具与牛耕，重视兴修水利工程以及大力推广“代田法”等先进耕作技术，汉代的粮食生产无论是单位面积还是总产量均有大幅度的增长。同时，以马为主的畜牧业也十分兴盛。
                                    </div>
                                </div>
                                <div class="tab-term">
                                    <div class="tt">冶炼织造</div>
                                    <div class="tp">
                                        汉代作为中国古代的第一个黄金时代，在许多方面均领先于世界。凭借雄厚的物质财富和先进的科技，汉代制造出了大量既具有极高实用和审美价值，又显示出极高科技含量的手工业制品。特别是雕琢细腻的玉器、光洁精美的铜镜、绚丽多彩的丝绸，堪称汉代手工业水平的代表。
                                    </div>
                                </div>
                                <div class="tab-term">
                                    <div class="tt">商贾市肆</div>
                                    <div class="tp">
                                        由于汉初政府对商业采取宽松政策，以及交通的日益便利，促进了商业贸易的发展繁荣，首都长安以及洛阳、邯郸、临淄、宛城、成都等大城市，均为著名的商业中心。随着丝绸之路的开通，汉代的对外贸易也极为兴盛，长安成为当时著名的国际大都会。
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-cont">
                            <div class="tab-item">
                                <div class="slick-mod">
                                    <div class="slick-item trans-scale"><a href="/collections/detail/431.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a753c65e08a.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">金饼</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a href="/collections/detail/433.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a753b301a82.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">四神规矩纹铜镜</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a href="/collections/detail/432.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a753a2bc30d.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">玉五铢</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a style="cursor:default">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a75390e8811.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">彩绘“白米”陶囷</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a style="cursor:default">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a7537f0f43d.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">铁锸头</div>
                                        </a></div>
                                    <div class="slick-item trans-scale"><a href="/collections/detail/430.html">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a753564a20e.png"
                                                    title="" alt="" class="i"></div>
                                            <div class="p">彩绘跽坐女俑</div>
                                        </a></div>
                                </div>
                                <div class="slick-nav"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dhxf4">
                <div class="wrap">
                    <div class="tit">
                        <div class="lj"></div>
                        <div class="t">社会图景</div>
                    </div>
                    <div class="unit unit1">
                        <div class="l">
                            <div class="img"><img src="/Public/static/themes_main/image/xf/png67.png" alt="" class="i">
                            </div>
                            <div class="cont">
                                <div class="t">汉人生活</div>
                                <div class="p" style="min-height:14px;min-width:14px;">
                                    衣食住行永远都是人们最基本的需要。种类丰富的出土实物，不但直观地再现了汉代人衣食住行的主要方式和多姿多彩的社会生活，而且也折射出时人的思想观念和审美追求。</div>
                                <div class="slick-nav"></div>
                            </div>
                        </div>
                        <div class="r">
                            <div class="slick-mod">
                                <div class="slick-item trans-scale"><a style="cursor:default">
                                        <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a75436ec3a2.png"
                                                title="" alt="" class="i"></div>
                                        <div class="p">绿釉陶作坊</div>
                                    </a></div>
                                <div class="slick-item trans-scale"><a style="cursor:default">
                                        <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a754285f7e0.png"
                                                title="" alt="" class="i"></div>
                                        <div class="p">绿釉带厕陶猪圈</div>
                                    </a></div>
                                <div class="slick-item trans-scale"><a style="cursor:default">
                                        <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83c26da2fb.png"
                                                title="" alt="" class="i"></div>
                                        <div class="p">玉蝉</div>
                                    </a></div>
                                <div class="slick-item trans-scale"><a style="cursor:default">
                                        <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83c3b2a8c5.png"
                                                title="" alt="" class="i"></div>
                                        <div class="p">玉卧猪</div>
                                    </a></div>
                            </div>
                        </div>
                    </div>

                    <div class="unit unit2">
                        <div class="l">
                            <div class="img"><img src="/Public/static/themes_main/image/xf/png68.png" alt="" class="i">
                            </div>
                            <div class="cont">
                                <div class="t">科技文化</div>
                                <div class="p" style="min-height:14px;min-width:14px;">
                                    汉代科学文化成就辉煌，造纸术、地动仪、麻醉术的发明对人类文明的发展产生了深远的影响；《史记》《汉书》分别开创了纪传体通史和断代史史书的先河；汉赋、乐府诗则在文学史上占有特殊地位。
                                </div>
                                <div class="slick-nav"></div>
                            </div>
                        </div>
                        <div class="r">
                            <div class="slick-mod">
                                <div class="slick-item trans-scale"><a style="cursor:default">
                                        <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83caae1ab4.png"
                                                title="" alt="" class="i"></div>
                                        <div class="p">象牙算筹</div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dhxf5">
                <div class="wrap">
                    <div class="tit">
                        <div class="lj"></div>
                        <div class="t">开拓交流</div>
                    </div>
                    <div>
                        <div class="slick-mod">
                            <div class="slick-item">
                                <div class="ul">
                                    <div class="li li1 trans-scale"><a href="/collections/detail/452.html" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a754a98401e.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">金怪兽</div>
                                        </a></div>
                                    <div class="li li2 trans-scale"><a style="cursor:default" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a7549a1b410.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">马踏匈奴</div>
                                        </a></div>
                                    <div class="li li3 trans-scale"><a style="cursor:default" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/01/s61a754894416d.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">骑马俑</div>
                                        </a></div>
                                </div>
                            </div>
                            <div class="slick-item">
                                <div class="ul">
                                    <div class="li li1 trans-scale"><a style="cursor:default" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83d1b23d6c.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">贵霜金币</div>
                                        </a></div>
                                    <div class="li li2 trans-scale"><a href="/collections/detail/454.html" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83db7eb295.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">银虎</div>
                                        </a></div>
                                    <div class="li li3 trans-scale"><a href="/collections/detail/731.html" class="link">
                                            <div class="img"><img src="/Uploads/Picture/2021/12/02/s61a83dd30b7b0.png"
                                                    alt="" title="" class="i"></div>
                                            <div class="p">鎏金铜蚕</div>
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-nav"></div>
                </div>
            </div>
        </div>
        <div class="special_bottom">
            <div class="nav">
                <a href="/long_context.html"><span>文脉绵长</span><img
                        src="/Public/static/themes_main/image/baiy/png19_1.png" alt=""></a><a
                    href="/special_tang.html"><span>盛唐气象</span><img
                        src="/Public/static/themes_main/image/baiy/png19_2.png" alt=""></a><a
                    href="/special_fuse.html"><span>冲突融合</span><img
                        src="/Public/static/themes_main/image/baiy/png19_3.png" alt=""></a><a class="now"
                    href="/dhxf.html"><span>大汉雄风</span><img src="/Public/static/themes_main/image/baiy/png19_4.png"
                        alt=""></a><a href="/eastern_empire.html"><span>东方帝国</span><img
                        src="/Public/static/themes_main/image/baiy/png19_5.png" alt=""></a><a
                    href="/hhzz.html"><span>赫赫宗周</span><img src="/Public/static/themes_main/image/baiy/png19_6.png"
                        alt=""></a><a href="/cradle_civilization.html"><span>文明摇篮</span><img
                        src="/Public/static/themes_main/image/baiy/png19_7.png" alt=""></a>
            </div>
            <div class="x-wrap2">
                <div class="d">
                    <div class="head">
                        <div class="title">一份伴手礼，<br />
                            将展览带回家</div>
                        <div class="text">陕西历史博物馆精心设计并制作了各式各样的文创商品，古朴的背包、仿藏品商品、精彩书籍……</div>
                        <div class="bb"><a class="more1 g" href="/product.html">快去挑选吧</a></div>
                    </div>
                </div>
                <div class="d c">
                    <div class="head">
                        <div class="title">360全景展览</div>
                        <div class="text">足不出户，感受历史的庄严</div>
                        <div class="bb"><span></span></div>
                    </div>
                    <div class="bg"></div>
                    <a href="http://www.qinling360.com/sxlsbwgxb/" target="_blank"></a>
                </div>
                <div class="d">
                    <div class="head">
                        <div class="title">一场活动，<br />
                            重回那段历史</div>
                        <div class="text">陕西历史博物馆不定期举行活动，活动形式丰富多彩，有专题讲座、户外实践、主题日活动……</div>
                        <div class="bb"><a class="more1 g" href="/education.html">了解近期活动信息</a></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            "use strict";

            $(function () {
                $('.dhxf2 .slick-mod').each(function () {
                    $(this).slick({
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        responsive: [{
                            breakpoint: 769,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }]
                    });
                });
                $('.dhxf3 .tab-item').each(function () {
                    var $this = $(this),
                        $slick = $this.find('.slick-mod'),
                        $nav = $this.find('.slick-nav');
                    $slick.slick({
                        appendArrows: $nav
                    });
                });
                $('.dhxf4 .unit').each(function () {
                    var $this = $(this),
                        $slick = $this.find('.slick-mod'),
                        $nav = $this.find('.slick-nav');
                    $slick.slick({
                        appendArrows: $nav
                    });
                });
                $('.dhxf5 .slick-mod').slick({
                    appendArrows: '.dhxf5 .slick-nav'
                });
                $.xRoll({
                    item: '.dhxf1 .tit .ht, .dhxf1 .tit .d, .dhxf1 .tit .p',
                    tween: {
                        duration: 2,
                        stagger: 0.5,
                        y: '30%'
                    }
                }); ///  
            });
        </script>
        <script type="text/javascript">
            $.post("/fangwen.html" + '?' + Math.random(), { '_json': Math.random() }, function (data) {
                var datas = data['info'];
                var str = "<i>" + datas.toString().split("").join("</i><i>") + "</i>";
                $('.x-footer .viewer .num').html(str);
            }, 'json')
        </script>
        <div class="x-footer">
            <div class="x-wrap">
                <div class="nav_foot"><a href="/sitemap.html" target="_blank">网站地图</a><span>|</span><a
                        href="/leaving/message.html">网友留言</a><span>|</span>
                    <script type="text/javascript">
                        $(function () {
                            $('.nav_foot span:last').remove();
                        })
                    </script>
                </div>
                <div class="friends"> 友情链接：
                    <a href="http://www.chnmuseum.cn/" target="_blank">中国国家博物馆</a><a
                        href="https://www.dpm.org.cn/Home.html" target="_blank">故宫博物院</a><a
                        href="https://www.shanghaimuseum.net/mu/frontend/pg/index" target="_blank">上海博物馆</a><a
                        href="http://www.njmuseum.com/zh" target="_blank">南京博物院</a><a href="http://www.hnmuseum.com/"
                        target="_blank">湖南博物院</a><a href="http://www.chnmus.net/" target="_blank">河南博物院</a><a
                        href="http://hbsbwg.cjyun.org/home/index.html" target="_blank">湖北省博物馆</a><a
                        href="https://www.zhejiangmuseum.com/" target="_blank">浙江省博物馆</a><a
                        href="http://www.lnmuseum.com.cn/" target="_blank">辽宁省博物馆</a><a
                        href="http://www.capitalmuseum.org.cn/" target="_blank">首都博物馆</a><a
                        href="http://www.shanximuseum.com/sx/index/index.html" target="_blank">山西博物院</a><a
                        href="http://www.3gmuseum.cn/" target="_blank">重庆中国三峡博物馆</a><a href="https://www.dha.ac.cn/"
                        target="_blank">敦煌研究院</a><a href="http://www.bmy.com.cn/" target="_blank">秦始皇帝陵博物院</a><a
                        href="http://www.beilin-museum.com/" target="_blank">西安碑林博物馆</a><a href="http://www.hylae.com/"
                        target="_blank">汉景帝阳陵博物院</a>
                </div>
                <div class="list">
                    <div class="item">
                        <div class="icon"><img src="/Public/static/themes_main/image/lyj/icon12.png" alt=""></div>
                        <div class="txt">4000293806</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/Public/static/themes_main/image/lyj/icon13.png" alt=""></div>
                        <div class="txt">sxhm1991@sxhm.com</div>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="/Public/static/themes_main/image/lyj/icon14.png" alt=""></div>
                        <div class="txt">中国 · 陕西 · 西安市小寨东路91号</div>
                    </div>
                </div>
                <div class="info">
                    <span>Copyright 2021 陕西历史博物馆版权所有All Rights Reserved. </span>
                    <a href="http://beian.miit.gov.cn/" target="_blank">陕ICP备05005777号-2</a>

                    <a href="http://www.beian.gov.cn/" target="_blank">陕公网安备 61011302001384号</a>
                </div>
                <div class="viewer"><span>网站浏览人数：</span>
                    <div class="num"></div>
                </div>
                <div class="support"><a>网站建设</a>：<a>北京分形科技</a></div>
            </div>
        </div>
        <script>
            var _hmt = _hmt || [];
            (function () {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?f9afe60a3a50056805fb3c57adc8fc9a";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
        <script type="text/javascript" src="https://s13.cnzz.com/z_stat.php?id=3732658&web_id=3732658"></script>

    </div>
    <style>
        .empty-data {
            width: 100%;
            font-size: 25px;
            padding-top: 8%;
            padding-bottom: 8%;
            text-align: center;
        }
    </style>
    <script crossorigin src="/js/vendor.DL1iBa6yb.js"></script>
</body>

</html>