<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人主页 - {{ user.username }}</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>

<body>
    <header class="header">
        <h1>欢迎来到个人空间~</h1>
    </header>

    <nav class="nav">
        <div class="Head-Jump" id="head">
            <div class="slide1"></div>
            <div class="slide2"></div>
            <a href="/index">首页</a>
            <a href="/Subject">玉●学术</a>
            <a href="/exhibition">玉●展览</a>
            <a href="/collection">玉●美学</a>
            <a href="/forum">玉●交流</a>
            <a href="/large_model">小玉问答</a>
        </div>
    </nav>

    <main>
        <div class="sidebar">
            <div class="profile">
                <h1>{{ user.username }}的个人主页</h1>
                {% if user.avatar %}
                <img src="{{ url_for('static', filename=user.avatar) }}" alt="Avatar" class="avatar">
                {% endif %}

                {% if is_self %}
                <form method="post" enctype="multipart/form-data">
                    <div id="read-avatar" class="read-section">
                        <p>头像</p>
                    </div>
                    <div id="edit-avatar" class="edit-section">
                        <label for="avatar">更改头像:</label>
                        <input type="file" id="avatar" name="avatar"><br>
                    </div>

                    <div id="read-gender" class="read-section">
                        <p>性别: {{ user.gender }}</p>
                    </div>
                    <div id="edit-gender" class="edit-section">
                        <label for="gender">性别:</label>
                        <select id="gender" name="gender">
                            <option value="不愿透露" {% if user.gender=='不愿透露' %}selected{% endif %}>不愿透露</option>
                            <option value="♂" {% if user.gender=='♂' %}selected{% endif %}>♂</option>
                            <option value="♀" {% if user.gender=='♀' %}selected{% endif %}>♀</option>
                        </select><br>
                    </div>

                    <div id="read-signature" class="read-section">
                        <p>个性签名: {% if user.signature %}{{ user.signature }}{% else %}这个人很神秘，不愿意透露{% endif %}</p>
                    </div>
                    <div id="edit-signature" class="edit-section">
                        <label for="signature">个性签名:</label>
                        <textarea id="signature" name="signature" maxlength="40">{{ user.signature }}</textarea><br>
                    </div>

                    <div id="read-favorite_jade" class="read-section favorite-jade">
                        <p>喜欢的玉石:</p>
                        {% if user.favorite_jade1 %}
                        <img src="{{ url_for('static', filename=user.favorite_jade1) }}" alt="jade1">
                        {% endif %}
                        {% if user.favorite_jade2 %}
                        <img src="{{ url_for('static', filename=user.favorite_jade2) }}" alt="jade2">
                        {% endif %}
                        {% if user.favorite_jade3 %}
                        <img src="{{ url_for('static', filename=user.favorite_jade3) }}" alt="jade3">
                        {% endif %}
                    </div>
                    <div id="edit-favorite_jade" class="edit-section">
                        <label for="favorite_jade">喜欢的玉石:</label>
                        <input type="file" id="favorite_jade1" name="favorite_jade1">当前玉石1：
                        {% if user.favorite_jade1 %}
                        {{user.favorite_jade1[8:]}}
                        {% else %}
                        {{"None"}}<br>
                        {% endif %}
                        <input type="file" id="favorite_jade2" name="favorite_jade2">当前玉石2：
                        {% if user.favorite_jade2 %}
                        {{user.favorite_jade2[8:]}}
                        {% else %}
                        {{"None"}}<br>
                        {% endif %}
                        <input type="file" id="favorite_jade3" name="favorite_jade3">当前玉石3：
                        {% if user.favorite_jade3 %}
                        {{user.favorite_jade3[8:]}}
                        {% else %}
                        {{"None"}}<br>
                        {% endif %}
                    </div>
                    <button type="button" id="edit-button-all" onclick="toggleEditAll()">修改信息</button>
                    <button type="submit" id="submit-button-all" style="display:none;">提交修改</button>
                </form>
                {% else %}
                <div class="favorite-jade">
                    <p>性别: {{ user.gender }}</p>
                    <p>个性签名: {% if user.signature %}{{ user.signature }}{% else %}这个人很神秘，不愿意透露{% endif %}</p>
                    <p>喜欢的玉石:</p>
                    {% if user.favorite_jade1 %}
                    <img src="{{ url_for('static', filename=user.favorite_jade1) }}" alt="jade1">
                    {% endif %}
                    {% if user.favorite_jade2 %}
                    <img src="{{ url_for('static', filename=user.favorite_jade2) }}" alt="jade2">
                    {% endif %}
                    {% if user.favorite_jade3 %}
                    <img src="{{ url_for('static', filename=user.favorite_jade3) }}" alt="jade3">
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="main-content">
            <div id="posts" class="posts active">
                <h2>{% if is_self %}我发布的帖子{% else %}TA发布的帖子{% endif %}（{{ posts|length }}）</h2>
                {% for post in posts %}
                <div class="post">
                    <h3>
                        {% if post.author.avatar %}
                        <img src="{{ url_for('static', filename=post.author.avatar) }}" alt="Avatar" class="avatar">
                        {% endif %}
                        <a href="{{ url_for('read_post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <p>{{ post.content[:100] }}...</p>
                    {% if post.image %}
                    <img src="{{ url_for('static', filename=post.image) }}" alt="Post Image" class="post-image">
                    {% endif %}
                    {% if is_self %}
                    <form method="post" action="{{ url_for('self_delete_post', post_id=post.id) }}" style="display:inline;">
                        <button type="submit">删除</button>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div id="liked-posts" class="liked-posts">
                <h2>{% if is_self %}我点赞的帖子{% else %}TA点赞的帖子{% endif %}（{{ liked_posts|length }}）
                    {% if is_self %}
                    <form id="likes-visibility-form" method="post" action="{{ url_for('profile', username=session['username']) }}">
                        <input type="checkbox" id="show_likes" name="show_likes" style="display:none;" {% if user.show_likes %}checked{% endif %}>
                        <button type="button" onclick="toggleVisibility()">更换状态</button>
                        <span id="visibility-text">{{ '公开' if user.show_likes else '不予公开' }}</span>
                    </form>
                    {% endif %}
                </h2>
                {% for post in liked_posts %}
                <div class="liked-post">
                    <h3>
                        {% if post.author.avatar %}
                        <img src="{{ url_for('static', filename=post.author.avatar) }}" alt="Avatar" class="avatar">
                        {% endif %}
                        <a href="{{ url_for('read_post', post_id=post.id) }}">{{ post.title }}</a>
                    </h3>
                    <p>{{ post.content[:100] }}...</p>
                    {% if post.image %}
                    <img src="{{ url_for('static', filename=post.image) }}" alt="Post Image" class="post-image">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="right-sidebar">
            <h2>我点赞的帖子</h2>
            {% for post in liked_posts %}
            <div class="liked-post">
                <h3>
                    {% if post.author.avatar %}
                    <img src="{{ url_for('static', filename=post.author.avatar) }}" alt="Avatar" class="avatar">
                    {% endif %}
                    <a href="{{ url_for('read_post', post_id=post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.content[:100] }}...</p>
                {% if post.image %}
                <img src="{{ url_for('static', filename=post.image) }}" alt="Post Image" class="post-image">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </main>

    <footer class="footer">
        <p>By B1ack And Wyn</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/profle.js"></script>
</body>

</html>
