<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <title>线上展览</title>
    <script type="text/javascript">
        if (!window.matchMedia) {
            var el = document.createElement('div');
            el.style.cssText = "position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #575757; z-index: 999999;";
            el.innerHTML = '<div style="position: absolute; top: 40%; left: 0; right: 0; margin: auto; width: 80%; font-family: Microsoft YaHei; font-size: 2em; font-weight: bold; text-align: center; color: #fff;">您当前使用的浏览器版本过低，<br>建议尽快升级您的浏览器，以获得更好的浏览体验！</div>';
            document.documentElement.appendChild(el);
        }
    </script>
    <link rel="stylesheet" href="../static/css/vendor.css">
    <link rel="stylesheet" href="../static/css/glass.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/vendor.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/vanilla-tilt.js"></script>
</head>

<style type="text/css">
    .logo .widget-area-edit {
        top: 0px
    }
</style>

<body>
    <div class="topping-mod xfont icon-up">
        <div class="s"></div>
    </div>
    <div class="x-layout ">
        <style>
            #myalert {
                display: none;
            }

            .recruit .block1 {
                height: auto
            }

            .layer {
                background: url(/Public/static/images/con_mask.png);
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                z-index: 1000000;
            }

            .layer .myalert {
                padding: 30px;
                background: #fff;
                width: 240px;
                position: absolute;
                margin-top: -100px;
                top: 50%;
                left: 50%;
                margin-left: -120px;
                text-align: center;
                z-index: 100000
            }

            .layer .guan {
                background: url(/Public/static/images/close.png) no-repeat center;
                display: block;
                width: 23px;
                height: 23px;
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .layer .text {
                padding-bottom: 15px;
                font-size: 16px;
                color: #474747;
            }

            .layer .button {
                background: none;
                border: 1px solid #bbbbbb;
                width: 91px;
                height: 29px;
                font: 14px/100% "Microsoft YaHei", Arial, Tahoma, Helvetica, sans-serif;
                color: #707070;
            }
        </style>
        <div id="myalert" class="layer">
            <div class="myalert">
                <a href="javascript:;" onclick="myalert_hide();" class="guan"></a>
                <div class="text">请输入关键字</div>
                <a><button class="button" id="my_ok"
                        style="cursor:pointer ;opacity: 1;transform: translateY(0px);">确定</button></a>
            </div>
        </div>

        <script>
            function my_alert(text, callback) {
                $('#myalert').show();
                $('#myalert .myalert div').html(text);

                $('#my_ok').click(function () {
                    $('#myalert').hide();

                    if (typeof (callback) == 'function') {
                        callback();
                        return false;
                    }
                });
            }

            function myalert_hide() {
                $('#myalert').hide();
            }
        </script>

        <div class="x-header2">
            <div class="menu-mod">
                <div class="logo"><a href="/"><img src="/Uploads/Picture/2021/11/05/s6185032db4faf.png" alt="" title=""
                            class="i"></a></div>
            </div>
            <div class="tools-mod">
                <div class="menu-btn"><span class="line"></span></div>
            </div>
            <div class="nav-mod">
                <div class="nav_child" style="display: flex; justify-content: space-between; align-items: flex-start; width: 100%;">
                    
                    <div class="item" style="text-align: center;">
                        <div class="h">
                            <a class="" href="/index">首页</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                    </div>
                    <div class="item" style="text-align: center;">
                        <div class="h">
                            <a class="" href="/index">首页</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                    </div>
                    <div class="item" style="text-align: center;">
                        <div class="h">
                            <a class="" href="/exhibition">玉-展览</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/exhibition">国内展览</a></li>
                            <li><a href="/student">学生策展</a></li>
                        </ul>
                    </div>
                    <div class="item" style="text-align: center;">
                        <div class="h">
                            <a class="" href="/collection">玉-美学</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/collection">玉映古今</a></li>
                            <li><a href="/collection">宝玉藏品</a></li>
                            <li><a href="/collection">玉石数据</a></li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="h">
                            <a class="" href="/Subject">玉-学术</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/Subject">学术刊物</a></li>
                            <li><a href="/Subject-essay">学术论文</a></li>
                            <li><a href="/Subject-lectures">学术讲座</a></li>
                            <li><a href="/Subject-resources">学习资料</a></li>
                        </ul>
                    </div>
                    <div class="item" style="text-align: center;">
                        <div class="h">
                            <a class="" href="/product.html">玉-交流</a>
                            <span class="arr xicon icon-down"></span>
                        </div>
                        <ul>
                            <li><a href="/jade_poems">师生交流</a></li>
                            <li><a href="/product/tgirl.html">鉴别玉石</a></li>
                            <li><a href="/product/tang.html">文学创作</a></li>
                        </ul>
                    </div>
                    <script>
                        //首页高亮
                        var indexs = "";
                        if (indexs) {
                            $(".nav_child .item:first .h a").addClass("cur");
                        }
                        //一级高亮
                        var nowurl = ("/online.html" != 'javascript:void(0);') ? "/online.html" : window.location.pathname;
                        $(' .nav_child .item .h a').each(function () {
                            var listurl = $(this).attr('href');
                            if (nowurl == listurl || listurl == '') {
                                $(this).parents('.nav_child .h').addClass('cur').siblings().removeClass('cur');
                            }
                        });
                        var pas_id = "1";
                        var pa_id = "10";
                        if (pa_id == 11) { $('.nav-lv1-item').eq(1).addClass('cur').siblings().removeClass('cur') }
                        if (pa_id == 3) { $('.nav-lv1-item').eq(9).addClass('cur').siblings().removeClass('cur') }
                        if (pas_id == 9) { $('.nav-lv1-item').eq(3).addClass('cur').siblings().removeClass('cur') }
                        if (pas_id == 10) { $('.nav-lv1-item').eq(2).addClass('cur').siblings().removeClass('cur') }
                        if (pa_id == 7) { $('.nav-lv1-item').eq(5).addClass('cur').siblings().removeClass('cur') }
                        //锚点点击高亮
                        $(document).on('click', 'li', function () {
                            $(this).addClass('cur').siblings().removeClass('cur');
                        })
                        //二级导航
                        var _nowurl = window.location.href;
                        var cat_url = '/online.html';
                        var arr = _nowurl.split('#')[1];
                        $('.nav_child .item ul li').find('a').each(function (i, k) {
                            var towurl = $(k).attr('href');
                            if (towurl.indexOf(arr) > -1 || towurl == window.location.pathname || towurl == cat_url || towurl == '') {
                                $(this).parents('.item').find('.h').addClass('cur').siblings().removeClass('cur');
                            }
                        });
                    </script>
                </div>
                <div class="bg" style="background:url(../static/img/jiaqing/top.png) no-repeat center top/100% auto"></div>
                <div class="search-box m-show">
                    <div class="search-txt"><input type="text" class="search-input" placeholder="search..."
                            id="txt_Search2" onkeypress="keydown(event, '#btn_Search2');"></div>
                    <button class="search-submit xicon icon-search" type="submit" id="btn_Search2"></button>
                </div>
                <div class="bb">
                    <div class="lang">
                        <a class="now" href="/">中</a><a href="/en/index.html">EN</a>
                    </div>
                    <div class="share-box m-show">
                        <a class="share-item suds-mod xicon icon-wx" href="javascript:;">
                            <div class="suds-pop at-t">
                                <div class="code"><img src="/Uploads/Picture/2023/02/14/s63eae4ff6f316.png" alt=""
                                        title=""></div>
                            </div>
                        </a>
                        <a href="#" class="share-item xicon icon-wb" title="分享到新浪微博"></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="x-container">
            <div class="special_exhibition1 temporary_exhibition1">
                <div class="mask" style="background-color: rgba(0,0,0,0);"></div>
                <div class="bg1"><img src="../static/img/jiaqing/bg1.png" title="" alt=""></div>
                <div class="bg2" style="background-image:url(../static/img/jiaqing/low_bar.png)">
                    <div class="con">
                        <div class="x-wrap2">
                            <div class="t1">展览</div>
                            <div class="t2">用专业和热情谱写玉石新篇章</div>
                            <div class="tracker-mod dir-hor">
                                <div class="tracker-prev xicon icon-left"></div>
                                <div class="tracker-next xicon icon-right"></div>
                                <div class="tracker-box">
                                    <div class="tracker-track">
                                        <div class="tracker-item ">
                                            <div class="item"><a href="/exhibition">玉石展览</a></div>
                                        </div>
                                        <div class="tracker-item ">
                                            <div class="item"><a href="/student">学生策展</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                {% for exhibition_dome in exhibitions_stu %}

                <div class="card"  style="background-image: url('{{ url_for('static', filename=exhibition_stu.image_path_1) }}');">
                    
                    <div class="content">
                        <h2>{{ exhibition_stu.id }}</h2>
                        <h3>{{ exhibition_stu.name }}</h3>
                        <p>{{exhibition_stu.description_1}}</p>
                        <a href="{{ url_for('exhibition_stu_detail', exhibition_stu_id=exhibition_stu.id) }}">Read More</a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="pagination">
                {% if prev_url %}
                    <a href="{{ prev_url }}">上一页</a>
                {% endif %}
                {% if next_url %}
                    <a href="{{ next_url }}">下一页</a>
                {% endif %}
            </div>

            <script src="../static/js/vanilla-tilt.js"></script>
            <script>
                VanillaTilt.init(document.querySelectorAll(".card"), {
                    max: 15,  //最大倾斜度数
                    speed: 400,  //倾斜转换的速度
                    glare: true,  //是否开启眩光效果
                    "max-glare": 1  //最大眩光的不透明度
                })
            </script>


            <script>
                "use strict";

                $(function () {
                    $('.special_exhibition1').addClass('act'); ///  
                });
            </script>

            <script type="text/javascript">
                $(function () {
                    var p = 1,
                        url = window.location.href;
                    $('#mores').click(function () {
                        p++;
                        var search = {
                            p: p,
                            tpl_file: 'article/temporary_exhibition_wap'
                        }
                        $.get(url, search, function (data) {
                            if (data) {
                                $('#datalist_wap').append(data);
                            }
                        })

                    })
                });
            </script>

            <script type="text/javascript">
                $.post("/fangwen.html" + '?' + Math.random(), { '_json': Math.random() }, function (data) {
                    var datas = data['info'];
                    var str = "<i>" + datas.toString().split("").join("</i><i>") + "</i>";
                    $('.x-footer .viewer .num').html(str);
                }, 'json')
            </script>

            <div class="x-footer">
                <div class="x-wrap">
                    <div class="nav_foot">
                        <a href="/sitemap.html" target="_blank">网站地图</a>
                        <span>|</span>
                        <a href="/leaving/message.html">网友留言</a>
                        <span>|</span>
                        <script type="text/javascript">
                            $(function () { $('.nav_foot span:last').remove(); })
                        </script>
                    </div>
                    <div class="friends"> 友情链接：
                        <a href="http://www.chnmuseum.cn/" target="_blank">中国国家博物馆</a>
                        <a href="https://www.dpm.org.cn/Home.html" target="_blank">故宫博物院</a>
                        <a href="https://www.shanghaimuseum.net/mu/frontend/pg/index" target="_blank">上海博物馆</a>
                        <a href="http://www.njmuseum.com/zh" target="_blank">南京博物院</a>
                        <a href="http://www.hnmuseum.com/" target="_blank">湖南博物院</a>
                        <a href="http://www.chnmus.net/" target="_blank">河南博物院</a>
                        <a href="http://hbsbwg.cjyun.org/home/index.html" target="_blank">湖北省博物馆</a>
                        <a href="https://www.zhejiangmuseum.com/" target="_blank">浙江省博物馆</a>
                        <a href="http://www.lnmuseum.com.cn/" target="_blank">辽宁省博物馆</a>
                        <a href="http://www.capitalmuseum.org.cn/" target="_blank">首都博物馆</a>
                        <a href="http://www.shanximuseum.com/sx/index/index.html" target="_blank">山西博物院</a>
                        <a href="http://www.3gmuseum.cn/" target="_blank">重庆中国三峡博物馆</a>
                        <a href="https://www.dha.ac.cn/" target="_blank">敦煌研究院</a>
                        <a href="http://www.bmy.com.cn/" target="_blank">秦始皇帝陵博物院</a>
                        <a href="http://www.beilin-museum.com/" target="_blank">西安碑林博物馆</a>
                        <a href="http://www.hylae.com/" target="_blank">汉景帝阳陵博物院</a>
                    </div>

                    <div class="support"><a>网站建设</a>:<a>小庆</a></div>
                </div>
            </div>




            <style>
                .empty-data {
                    width: 100%;
                    font-size: 25px;
                    padding-top: 8%;
                    padding-bottom: 8%;
                    text-align: center;
                }
            </style>
</body>

</html>