<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>欢迎_玉石天地</title>
  <link href="../static/styles.css" rel="stylesheet" />
</head>
<body>
  <div class="mid">
      <img src="../static/mid.png" alt="">
  </div>
  <div class="back">
      <img src="../static/back.jpg" alt="">
  </div>
  <div class="image-container">
    <div id="image-wrapper-1" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image1.png" alt="Image" class="front-image">
      <img src="../static/image_alt1.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-2" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image2.png" alt="Image" class="front-image">
      <img src="../static/image_alt2.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-3" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image3.png" alt="Image" class="front-image">
      <img src="../static/image_alt3.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-4" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image4.png" alt="Image" class="front-image">
      <img src="../static/image_alt4.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-5" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image5.png" alt="Image" class="front-image">
      <img src="../static/image_alt5.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-6" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image6.png" alt="Image" class="front-image">
      <img src="../static/image_alt6.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-7" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image7.png" alt="Image" class="front-image">
      <img src="../static/image_alt7.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-8" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image8.png" alt="Image" class="front-image">
      <img src="../static/image_alt8.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-9" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image9.png" alt="Image" class="front-image">
      <img src="../static/image_alt9.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-10" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image10.png" alt="Image" class="front-image">
      <img src="../static/image_alt10.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-11" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image11.png" alt="Image" class="front-image">
      <img src="../static/image_alt11.png" alt="Image" class="back-image">
    </div>
    <div id="image-wrapper-12" class="image-wrapper" onmouseover="flipImage(this)" onmouseout="unflipImage(this)">
      <img src="../static/image12.png" alt="Image" class="front-image">
      <img src="../static/image_alt12.png" alt="Image" class="back-image">
    </div>
      <div>
          <a href="/index.html" class="button" target="_self">GO!</a>
      </div>
     </div>
  <script> function flipImage(element) { element.style.transform = 'rotateY(180deg)'; } function unflipImage(element) { element.style.transform = 'rotateY(0deg)'; }
  </script>
   <script src="../static/script.js"></script>
</body>
</html>